/.gradle
/.idea
/classes
/gradle
/bin
/build
.DS_Store
.settings
.classpath
.project
*.iml

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/